
p{
text-align: left;
font-family: 'Special Elite';
font-size: 17px;
}

.contact{
  text-align:left;
}

p.alone{text-align: center;}

h1 { font-family:Arial;
}
h5 {
  font-family:Arial;
  text-align: ;
}
b { font-family:Arial; }
i { font-family:Arial; }


nav img{
  width:300px;
  height:200px;
}

nav{background-image:url(spoon-and-fork.jpg);

}


body{background-image:url(spoon-and-fork.jpg);
background-image:url(spoon-and-fork.jpg);

}


#welcome{
  font-size: 45px;
  text-align:center;
  color:black;
   text-shadow:2px 2px 2px rgba(212, 175,55 ,0.5),
              1px 1px 1px orange;

             }


#grabber{text-align:center;font-size: 18px;}

#alfredo{
  border-top: 0px solid gold;
  border-right: 0px solid gold;
  border-bottom: 0px solid gold;
  border-left: 0px solid gold;

  display: block;
  margin: 0 auto 0 auto;
  width:300px;
  height:200px;

}
#chickenwing{
  border-top: 0px solid gold;
  border-right: 0px solid gold;
  border-bottom: 0px solid gold;
  border-left: 0px solid gold;
  display: block;
  margin: 0 auto 0 auto;
}
  #jerk{
    border-top: 0px solid gold;
    border-right: 0px solid gold;
    border-bottom: 0px solid gold;
    border-left: 0px solid gold;
    display: block;
    margin: 0 auto 0 auto;
  }


#carouselExampleIndicators{text-align: center;}
